/* about.html */

.skill-icon {
    width: 4rem;
    height: 4rem;
    margin-right: 0.25rem!important;
    margin-left: 0.25rem!important;
    margin-top: 0.25rem!important;
    margin-bottom: 0.25rem!important;
}

/* _navbar.html */

.fa-dark {
    color: rgb(46, 46, 46);
}

/* projects.html */

.divider {
    height: 6rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 17px 1em 10px rgba(0, 0, 0, .1), inset 0 -17px 1em 10px rgba(0, 0, 0, .1);
}