
<!-- START FOOTER -->
<footer class="container-fluid d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-white fixed-bottom shadow">
    <p class="col-md-4 mb-0 text-muted fw-semibold">© Copyright 2023</p>


    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#"><i class="fab fa-linkedin fa-lg fa-fw fa-dark"></i></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#"><i class="fab fa-github fa-lg fa-fw fa-dark"></i></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#"><i class="fab fa-hackerrank fa-lg fa-fw fa-dark"></i></a>
        </li>
    </ul>
</footer>
<!-- END FOOTER -->
