{% extends 'base.html' %}
{% block content %}

    <!-- START CONTENT -->
    <div class="container px-4 py-5">
        <h1 class="display-5 fw-bold text-center">ABOUT ME</h1>
        <span class="d-flex flex-wrap justify-content-center mb-1"><hr style="width: 50%;"></span>
        <h5 class="text-center">Here you will find more information about me, what I do, and my current skills.</h5>
        <span class="d-flex flex-wrap justify-content-center mb-1"><hr style="width: 75%;"></span>
    
        <div class="row align-items-md-start justify-content-center g-5 py-5">
            <div class="col-md-12 col-lg-4 d-flex flex-wrap justify-content-center text-center align-items-start gap-2">
                <h3 class="fw-bold text-center">Who am I?</h3>
                <p class="text-muted">I am a <strong>Python/Backend Web Developer</strong> building Backend of Websites and Web Applications. You can check out some of my work in the <strong>Projects</strong> section.</p>
                <p class="text-muted">I am open to <strong>job</strong> opportunities where I can contribute, learn and improve myself. If there is a job that you think is suitable for me, do not hesitate to <strong>contact me.</strong></p>
                <a href="#" class="btn btn-lg text-bg-dark bg-gradient fw-semibold shadow">CONTACT!</a>
            </div>
            
            <div class="col-md-12 col-lg-4 d-flex flex-column justify-content-center text-center gap-2">
                <div class="row">

                    <h3 class="fw-bold text-center">My Skills</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="d-flex flex-column align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3 skill-icon shadow">
                        <i class="fab fa-html5 mt-1"></i>
                        <h6 class="fw-semibold mb-1">HTML</h6>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3 skill-icon shadow">
                        <i class="fab fa-css3-alt mt-1"></i>
                        <h6 class="fw-semibold mb-1">CSS</h6>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3 skill-icon shadow" style="width: 5rem;">
                        <i class="fab fa-python mt-1"></i>
                        <h6 class="fw-semibold mb-1">Python</h6>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3 skill-icon shadow" style="width: 5rem;">
                        <i class="fas fa-laptop-code mt-1"></i>
                        <h6 class="fw-semibold mb-1">Django</h6>
                    </div>
                                        
                </div>
                <div class="row justify-content-center">
                    <div class="d-flex flex-column align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3 skill-icon shadow" style="width: 6.5rem;">
                        <i class="fab fa-js-square mt-1"></i>
                        <h6 class="fw-semibold mb-1">JavaScript</h6>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3 skill-icon shadow" style="width: 5rem;">
                        <i class="fab fa-github mt-1"></i>
                        <h6 class="fw-semibold mb-1">GitHub</h6>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3 skill-icon shadow" style="width: 6rem;">
                        <i class="fab fa-bootstrap mt-1"></i>
                        <h6 class="fw-semibold mb-1">Bootstrap</h6>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="d-flex flex-column align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3 skill-icon shadow" style="width: 6rem;">
                        <i class="fas fa-database mt-1"></i>
                        <h6 class="fw-semibold mb-1">MongoDB</h6>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3 skill-icon shadow" style="width: 7rem;">
                        <i class="fas fa-table mt-1"></i>
                        <h6 class="fw-semibold mb-1">PostgreSQL</h6>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- END CONTENT -->

{% endblock %}