{% extends 'base.html' %}
{%load static%}
{% block content %}

    <!-- START CONTENT -->
    <div class="container">
      <div class="px-4 py-5 my-4 text-center">
          <img class="d-block mx-auto mb-4 rounded-circle shadow img-fluid" src="{%static 'base/img/me.jpeg'%}" width="400">
          <h1 class="display-5 fw-bold">HEY, I'M DORUK ÇORALI</h1>
          <div class="col-lg-6 mx-auto">
            <p class="my-4 fs-5 fw-normal">A Back-End Developer and wants to be full stack developer, always eager to adapt and take on new challenges!</p>
            <div class="d-flex gap-2 justify-content-center">
              <a href="{%url 'projects'%}" type="button" class="btn btn-lg text-bg-dark bg-gradient fw-semibold shadow px-4 mt-1">PROJECTS</a>
            </div>
          </div>
        </div>
    </div>
    <!-- END CONTENT -->

{% endblock %}